body
{
	background-color: black;
}

#container
{
	position: absolute;	
	left: 300px;
	top: 200px;
}


@-moz-keyframes flash {
 0% {  background-color: rgb(0,0,0); }  
 100% {  background-color: rgb(255,0,0); }

}


.light
{
	display: inline-block;
	width: 50px;
	height: 10px;
	background-color: rgb(0,0,0);
	
/*	-moz-animation-name:flash;
	-moz-animation-duration:0.25s;
	//-moz-animation-timing-function:cubic-bezier(0.02, 1.0, 0.2, 1.0);
	-moz-animation-timing-function:ease-out;
	-moz-animation-delay:0s;
	-moz-animation-iteration-count:2;
	-moz-animation-direction:alternate;

	
	-moz-animation-play-state: paused;*/
	
	-webkit-transition: all 0.25s ease-out;
-moz-transition: all 0.25s ease-out;
-o-transition: all 0.25s ease-out;
-ms-transition: all 0.25s ease-out;
transition: all 0.25s ease-out;

	
	

	

}

